Package: com.arichorn.ytappversionspoofer
Name: YTAppVersionSpoofer
Version: 1.0.0
Architecture: iphoneos-arm
Description: change video version in the YouTube Settings to modify the features, Interface & more.
Maintainer: arichorn
Author: arichorn
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0), com.ps.youquality (>= 1.1.0)
